{% load crispy_forms_tags %}

<form method="post" action="{% url 'add-result' object.id%}">
   <div class="modal-header">
       <h5 class="modal-title">{{object.name}}</h5>

       <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
       <span aria-hidden="true">&times;</span>
   </div>
   <div class="modal-body">

       {% csrf_token %}
         <div class="form-row">
             <div class="form-group col-md-12">{{form.result|as_crispy_field}}</div>
         </div>



   </div>
    <div class="modal-footer">
        <button type="submit" value="Update" class="btn btn-success btn-sm">Update</button>
    </div>
     </form>




